@model IEnumerable<Mygev.Models.EventoUtilizadores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permissao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDEU">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDEU">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDEU">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
