@model IEnumerable<Mygev.Models.EventoUtilizadores>

@{
    ViewData["Title"] = "Index";
}


    <p>
        <h1>Meus Eventos</h1>
        <a asp-controller="Evento" asp-action="Create">Criar Novo Evento</a>
        
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permissao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            @if (item.Permissao != "Participante")
            {
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Utilizador.NomeUser)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Evento.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Permissao)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.ID">Eliminar Evento</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
<h1>Eventos em que Participo</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Utilizador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Evento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Permissao)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
             @if (item.Permissao == "Participante") { 
              
            
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Utilizador.NomeUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Evento.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Permissao)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID">Deixar de Participar</a>
                    </td>
                </tr>
                     }
                 }
        </tbody>
                 
    </table>
