@model Mygev.Models.Evento

@{
    ViewData["Title"] = "Details";
}
    <style>
        body {
            background-color: #B0C4DE;
        }
    </style>
    <div class="container">
        <div class="row">
            <h1>Evento</h1>
            <hr />
        </div>
        <div class="row">
            <div class="col">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Logo)
                </dt>
                <dd class="col-sm-10">
                    <img src="~/Imagens/LogosEventos/@Model.Logo" height="50" alt="logo do evento @Model.Nome" title="@Model.Nome" />
                </dd>
            </div>
            <div class="col">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Local)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Local)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataInicio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataInicio)
                </dd>
            </div>
            <div class="col">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DataFim)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DataFim)
                </dd>
            </div>
            <div class="col">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Publico)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Publico)
                </dd>
            </div>
        </div>
        <div class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </div>
        <div class="row">
            @if (@ViewBag.Permissao == "Administrador")
            {
                <a asp-action="Edit" asp-route-id="@Model.ID">Editar |</a>
            }
            <a asp-controller="EventoUtilizadores" asp-action="Create" asp-route-id="@Model.ID">Participar |</a>
            <a asp-action="Index">Voltar aos Eventos</a>
        </div>
        <br />
        <div class="row">
            <div class="col-8">
                <h3>Lista de Conteudos</h3>
                @if (@ViewBag.Permissao == "Administrador" || @ViewBag.Permissao == "Participante Contribuidor")
                {
                    <a asp-controller="EventoConteudo" asp-action="Create" asp-route-id="@Model.ID">Adicionar Conteudo</a>
                }
                <table class="table">
                    <tr>
                        <th>
                            Conteudo
                        </th>
                        <th>
                            Comentario
                        </th>
                        <th>
                            Autor
                        </th>
                    </tr>

                    @foreach (var conteudo in Model.ListaConteudos)
                    {
                        <tr>
                            <td>
                                @*Conteudo*@
                                @conteudo.Conteudo
                            </td>
                            <td>
                                @*Comentario*@
                                @conteudo.Comentario
                            </td>
                            <td>
                                @*Comentario*@
                                @conteudo.Utilizador.NomeUser
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-4">
                <h3>Lista de Utilizadores</h3>
                <table class="table">
                    <tr>
                        <th>
                            Utilizador
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                        </th>
                    </tr>

                    @foreach (var users in Model.ListaUtilizadores)
                    {
                <tr>
                    <td>
                        @*Utilizador*@
                        @users.Utilizador.NomeUser
                    </td>
                    <td>
                        @*Permissão*@
                        @users.Permissao
                    </td>
                    <td>
                        @if (@ViewBag.Permissao == "Administrador")
                        {
                            <a asp-controller="EventoUtilizadores" asp-action="Edit" asp-route-id="@users.ID">Edit</a>
                        }
                        <a asp-controller="Utilizadores" asp-action="Details" asp-route-id="@users.IDUser">Perfil</a>
                    </td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>



