@model IEnumerable<Mygev.Models.Evento>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: #B0C4DE;
    }
</style>

<div class="container">

    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn-dark btn" asp-action="Create">Criar um novo Evento</a>
        </p>

        <h1>Eventos</h1>
        
            <form method="post">
                <div class="form-row">
                    <label for="Visibilidade">Publico</label>
                    <select class="custom-select col-3 mr-1" type="text" name="visibilidade">
                        <option value="publico">Publico</option>
                        <option value="privado">Privado</option>
                        <option value="todos">Mostrar Todos</option>
                    </select>
                    <label for="nomeEvento">Nome</label>
                    <input class="form-control col-3 mx-1" type="text" name="nomeEvento">
                    <label for="local">Local</label>
                    <input class="form-control col-3 mx-1" type="text" name="local">
                    <label>     </label>
                    <input class="btn-dark btn" type="submit" value="Pesquisar" />
                </div></form>
     <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="card-columns">
                    <div class="card bg-light" style="width: 15rem;">
                        <img src="~/Imagens/LogosEventos/@Html.DisplayFor(modelItem => item.Logo)" asp-action="Details" asp-route-id="@item.ID" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a class="card-title-link" asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                            <a class="card-link" asp-controller="EventoUtilizadores" asp-action="Create" asp-route-id="@item.ID">Participar</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.Local) : @Html.DisplayFor(modelItem => item.Local)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.DataInicio) : @Html.DisplayFor(modelItem => item.DataInicio)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.DataFim) : @Html.DisplayFor(modelItem => item.DataFim)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.Estado) : @Html.DisplayFor(modelItem => item.Estado)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.Publico) : @Html.DisplayFor(modelItem => item.Publico)</li>
                        </ul>
                    </div>
                </div>
                <br />
            </div>
        }
    </div>
    }
    else
    {@foreach (var item in Model)
    {
        @if (item.Publico == true)
        {
            <h2>Eventos Publicos</h2>
            <div class="col-sm-3">
                <div class="card-columns">
                    <div class="card bg-light" style="width: 15rem;">
                        <img src="~/Imagens/LogosEventos/@Html.DisplayFor(modelItem => item.Logo)" asp-action="Details" asp-route-id="@item.ID" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a class="card-title-link" asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Nome)</a>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Descricao)</p>
                            <a class="card-link" asp-controller="EventoUtilizadores" asp-action="Create" asp-route-id="@item.ID">Participar</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.Local) : @Html.DisplayFor(modelItem => item.Local)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.DataInicio) : @Html.DisplayFor(modelItem => item.DataInicio)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.DataFim) : @Html.DisplayFor(modelItem => item.DataFim)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.Estado) : @Html.DisplayFor(modelItem => item.Estado)</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.Publico) : @Html.DisplayFor(modelItem => item.Publico)</li>
                        </ul>
                    </div>
                </div>
                <br />
            </div>
        }
    }


    }
</div>

