@model IEnumerable<Mygev.Models.Utilizadores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Criar um novo perfil de Utilizador</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container">
    <div class="row">
        <p>AQUIAQUI</p>
        @foreach (var puta in Model)
        {
            @foreach (var item in puta.ListaEventos)
            {


                <div class="col-sm-3">
                    <div class="card-columns">
                        <div class="card bg-light" style="width: 15rem;">
                            <img src="~/Imagens/LogosEventos/@Html.DisplayFor(modelItem => item.Evento.Logo)" asp-action="Details" asp-route-id="@item.ID" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a class="card-title-link" asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Evento.Nome)</a>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Evento.Descricao)</p>
                                <a class="card-link" asp-controller="EventoUtilizadores" asp-action="Create" asp-route-id="@item.ID">Participar</a>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> : @Html.DisplayFor(modelItem => item.Evento.Local)</li>
                                <li class="list-group-item"> : @Html.DisplayFor(modelItem => item.Evento.DataInicio)</li>
                                <li class="list-group-item"> : @Html.DisplayFor(modelItem => item.Evento.DataFim)</li>
                                <li class="list-group-item"> : @Html.DisplayFor(modelItem => item.Evento.Estado)</li>
                                <li class="list-group-item"> : @Html.DisplayFor(modelItem => item.Evento.Publico)</li>
                            </ul>
                        </div>
                    </div>
                    <br />
                </div>
            }
        }
    </div>
    </div>